@font-face {
    font-family: "myriad";
    src: url("../fonts/Myriad_Pro_Semibold.ttf");
}

@font-face {
    font-family: "myriadregular";
    src: url("../fonts/MyriadPro-Regular.otf");
}

h2,h4{
    font-family: 'myriadregular';
}

.navbar{
    background-color: #7A6D60;
    position: fixed;
    z-index: 2;
}
.navbar a{
    color:#fff !important;
    font-family: 'myriad';
}

#carouselExampleControls{
    margin-top: 86px;
}
.title1{
    margin: 50px 0 50px 0;
    color: #606060;
    font-size: 28px;
}

.seccion2{
    padding: 50px 0;
}

.seccion2 h4{
    color: white;
}

.seccion2 img{
    width: 70px;
    cursor: pointer;
}

.seccion3{
    padding: 50px 0;
}
.seccion3 h2 span{
    font-weight: bold;
}

.seccion3 h3{
    color: #606060;
    font-size: 20px;
    font-weight: 400;
}

.seccion3 figure{
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.seccion3 figure:hover{
    transform: scale(1.1);
}
.seccion3 figure img{
    margin: auto;
    display: block;
    width: 100%;
}

.card-active{
    border: 3px solid #FF7500;
    border-radius: 5px;
}

.seccion4{
    padding: 50px 0;
}
.seccion4 h4{
    font-weight: bold;
    color: #606060;
    font-size: 21px;
}
.seccion4 p{
    color: #606060;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.seccion4 img{
    width: 70px;
}

.seccion5{
    background-color: #786E62;
    padding: 50px 0;
    color: #ffffff;
}

.seccion6{
    padding: 50px 0;
    color: #606060;
    background-image: url("../img/copy.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
}


.seccion6 p{
    text-align: center;
    font-size: 23px;
    line-height: 30px;
}

.seccion6 img{
    width: 100px;
    margin: auto;
    display: block;
}

.seccion7{
    padding: 50px 0;
}

.seccion7 span{
    font-weight: bold;
}

.seccion7 a{
    color: white;
    font-size: 22px;
    width: auto;
}

.seccion8{
    padding: 50px 0;
}

.seccion8 p{
    line-height: 17px;
    color: #606060;
}
.seccion8 h2{
    color: #606060;
}
.azul{
    background-color: #1A3966;
    color: white;
}
.color1{
    color: #B28C60;
}

.gris{
    background-color: #EEE9E5;
}
.carousel{
    padding: 0;
}

.hide{
    display: none;
}

footer{
    background-color: #786E62;
}

footer img{
    width: 200px;
    margin: auto;
    display: block;
    padding: 30px;
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }